--extra-index-url https://download.pytorch.org/whl/cu118

torch==2.5.0
torchvision==0.20.0
torchaudio==2.5.0

opencv-python
numpy==1.23
open3d
matplotlib
object2urdf
trimesh==3.10
pybullet
mediapy
plyfile
setuptools==49.4
hydra-core>=1.3.2
pynput
